[submodule "js/legal"]
	path = js/legal
	url = https://github.com/jhlywa/chess.js.git
[submodule "js/board"]
	path = js/board
	url = https://github.com/oakmac/chessboardjs.git
[submodule "engine/chess"]
	path = engine/chess
	url = https://github.com/ikhovind/chess
